# Node modules
/node_modules/

# Logs
*.log
logs
logs/*

# Runtime files
.pids
*.pid
*.sock

# dotenv environment files

# Build output
/dist
/build

# Dependency directories
/.nyc_output
/coverage

# IDE specific files
.vscode/
.idea/

# Mac OS files
.DS_Store

# Windows files
Thumbs.db

uploads
drizzle
